@main {

    <div id="header">
        <h1>Primedia Push Service</h1>
    </div>

    <form id="pushForm" action="" method="post">

        <textarea id="pushText" rows="10" cols="40"></textarea>
        <ul>
          <li><input type="radio" id="android" name="type" value="android" /><label for="android"> Android </label></li>
          <li><input type="radio" id="ios" name="type" value="ios" /><label for="ios"> iOS </label></li>
          <li><input type="radio" id="all" name="type" value="all" checked="checked" /><label for="all"> All </label></li>
        </ul>



        <br />
        <input type="submit" name="submit" value="Push it... Push it real good!" id="pushSubmit" />

    </form>

    <div id="result"></div>

}